@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Cookie&family=Poppins:wght@600&display=swap');

:root {
    --bg-text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%), 0 8px 16px rgb(13 0 77 / 8%);
    --bg-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.621);
}
*::-webkit-scrollbar{
    width: .4rem;
}
*::-webkit-scrollbar-track{
    background: rgb(6, 6, 44);
}
*::-webkit-scrollbar-thumb{
    background: #0040ff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* text-shadow: var(--bg-text-shadow); */
}
#akory{
    color: rgb(29, 16, 16);
}
nav{
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: rgba(5, 3, 3, 0.279);
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    /* box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.386); */
}

nav ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    color: black;
}

ul li a{
    text-decoration: none;
    color: rgb(212, 207, 203);
    cursor: pointer;
}
ul li{
    color: rgb(121, 53, 14);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

ul li:hover{
    color: #e27c29;
}

ul li a:hover{
    color: #d88e2d;
}

.logo {
    height: 90%;
    display: flex;
    justify-content: center;
}
.logo .akorylogo {
    height: 80px;
    filter: contrast(5%);
    color: #f7f5f2;
}

.logo p {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(66, 68, 74);
    text-shadow: var(--bg-text-shadow);
}

#firstsection{
    height: 100vh;
    background-color: rgba(1, 1, 3, 0.61);
    width: 100%;
    /* z-index: 2000; */
}

#firstsection .carousel-inner{
    width: 100%;
    height: 100vh;
    /* padding: 0 50px; */
}
#firstsection .carousel-inner::after{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(1, 1, 3, 0.61);
}

#firstsection .carousel-item{
    overflow: hidden;
}

#firstsection .carousel-item img{
    width: 100%;
    height: 100vh;
}


#firstsection .welcomeline{
    position: absolute; 
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#firstsection .welcometag{
    font-size: 110px;
    font-weight: bold;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    line-height: 100px;
    padding: 5px;
    /* text gradiant */
    background: -webkit-linear-gradient(317deg, rgba(0, 60, 255, 0.81) 0%, rgb(255 0 123) 70%);
    background: -webkit-linear-gradient(317deg, rgba(0, 4, 8, 0.81) 9%, #fc9c0c 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#prov{
    width: 200px;
    border-radius: 1%;
}
#btnsearch{
    margin-top: 0.5%;
    margin-left: 0.3%;
    height: 45px;
}
#searchhotel{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 2%;
}
#province{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    /* text gradiant */
    background: -webkit-linear-gradient(317deg, rgba(0, 60, 255, 0.81) 0%, rgb(255 0 123) 70%);
    background: -webkit-linear-gradient(317deg, rgba(1, 5, 10, 0.81) 9%, #e91f04 70%);
    -webkit-background-clip: text;
}
/* secondsection */

#secondsection{
    height: 100vh;
}

#secondsection img{
    /* background-size: cover; */
    height: 100vh;
    width: 100%;
    filter: blur(20px);
    position: absolute;
    /* -webkit-backdrop-filter: blur(30px);  */
    z-index: -2;
}

.ourroom{
    position: relative;
    top: 90px;
    height: 400px;
    width: 100%;
    /* background-color: #0040ff; */
}

.head{
    text-align: center;
    margin-bottom: 40px;
}

.roomselect{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.roomselect .roombox{
    height: 100%;
    width: 300px;
    background-color:white;
    border-radius: 10px;
    overflow: hidden;
}

.hotelphoto{
    height: 250px;
    width: 100%;
    background-color: aquamarine;
    background-size: cover;
}

.h1{
    background-image: url(../Image/1.jpg);
}
.h2{
    background-image: url(../Image/2.jpg);
}
.h3{
    background-image: url(../Image/3.jpg);
}
.h4{
    background-image: url(../Image/4.jpg);
}

.roomdata{
    text-align: center;
}

.roomdata roomselect{
color: rgb(207, 211, 255);
font-size: 30px;
}

.sevices{
    display: flex;
}

.services i{
    color:white;
    margin: 7px;
}

.bookbtn{
   margin: 10px;
}
#chambres{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#listchbr{
 position: absolute;
  right: 0;
}

/* roombookcss */

#guestdetailpanel{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.558);
    position: fixed;
    z-index: 10000;
}

.logoutbtn{
    height: 20px;
    width: 200px;
    background-color: rgba(216, 19, 19, 0.804);
}

.facility{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.facility .box{
    width: 310px;
    border: 2px solid white;
    background-color: #0040ff;
}

.facility .box h2{
    text-align: center;
    position: relative;
    top: 80%;
    color: white;
    background-color: #0000005e;
}

.box:nth-child(1){
    background-image: url(../Image/swimming_pool.webp);
    background-size: cover;
}
.box:nth-child(2){
    background-image: url(../Image/spa.jpg);
    background-size: cover;
}
.box:nth-child(3){
    background-image: url(../Image/resto.webp);
    background-size: cover;
}
.box:nth-child(4){
    background-image: url(../Image/gym.jpg);
    background-size: cover;
}
.box:nth-child(5){
    background-image: url(../Image/heli.jpg);
    background-size: cover
}

#contactus{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 100px;
}

#contactus .social{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

#contactus i{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#contactus .createdby{
    color: white;
}

/* responsive stuff */

@media(max-width: 30rem){
    nav{
        justify-content: center;
        position: relative;
        background-color: #96a8f88c;
    }
    nav ul{
        display: none;
    }
    #firstsection{
        height: 50vh;
        text-align: center;
    }
    #firstsection .carousel-inner{
        height: 50vh;
    }
    #firstsection .carousel-inner::after{
        height: 50vh;
    }
    #firstsection .carousel-item img{
        height: 50vh;
    }
    #firstsection .welcomeline{
        height: 50vh;
        
    }
    #firstsection .welcometag{
        text-align: center;
        font-size: 50px;
        line-height: 60px;
    }
    #secondsection{
        height: auto;
        width: 100%;
    }
    #secondsection{
        height: 240vh;
    }
    #secondsection img{
        display: none;
        
    }
    .ourroom{
        top: 30px;
        height: auto;
        width: 100%;
    }
    .roomselect{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .roomselect .roombox{
        width: 75%;
    }
    .photo111{
        width: 100%;
        height: 5vh;
    }

    #thirdsection{
        height: 100vh;
    }
    .facility{
        flex-wrap: wrap;
    }
    .facility .box{
        margin: 0;
        padding: 0;
        width: 50%; 
    }

    .facility .box h2{
        font-size: 18px;
        flex-wrap: wrap;
    }
    
    .box:nth-child(5){
        display: none;
    }

    #contactus{
        padding: 0 30px;
    }
}
/*css service */
.divCarousel{
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }

  /* css contact */
  .contact {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .contact h1 {
    font-size: 36px; /* Taille de la police */
    font-weight: bold; /* Épaisseur de la police (gras) */
    text-transform: uppercase; /* Convertir le texte en majuscules */
    color: #007bff; /* Couleur du texte (bleu dans cet exemple) */
    text-align: center; /* Alignement centré */
    margin-top: 40px; /* Marge supérieure pour l'espace entre le titre et le contenu */
  
  }
  hr {
    border: none;
    height: 2px;
    background-color: #007bff;
    animation: hr-animation 2s linear infinite;
  }

  @keyframes hr-animation {
    0% {
      width: 0;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }
  
  .contact form label {
    display: block;
    font-weight: bold;
  }
  
  .contact form input,
  .contact form textarea {
    width: 100%;
    padding: 10px;
     border: 1px solid #ccc;
  }
  
  .contact form button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-info .icon {
    background-color: #4285f4;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .contact-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  /* Pour une meilleure expérience sur mobile */
  @media (max-width: 400px) {
    .contact form input,
    .contact form textarea {
      margin-bottom: 10px;
    }
  }
  /* Pour une meilleure expérience sur mobile */
  @media (max-width: 600px) {
    .contact form input,
    .contact form textarea {
      margin-bottom: 10px;
    }
  }  
/*css footer*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2cm;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}