@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Cookie&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400&display=swap');

:root {
    --bg-text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%), 0 8px 16px rgb(13 0 77 / 8%);
    --bg-box-shadow: 0px 0px 20px 6px rgba(8, 8, 15, 0.31);
}
*::-webkit-scrollbar{
    width: .4rem;
}
*::-webkit-scrollbar-track{
    background: rgb(6, 6, 44);
}
*::-webkit-scrollbar-thumb{
    background: #0040ff;
}

body {
    /* background-color: #ffff; */
    /* background-image: url(../../image/bg.jpg);
    background-size: cover; */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* text-shadow: var(--bg-text-shadow); */
}

.addroomsection{
    height: 60px;
    width: 100%;
    background-color:  #0a0d2d;
    position:fixed;
    /* display: flex; */
    z-index: 100;
    
}

.addroomsection form{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addroomsection form label{
    color: white;
}

.addroomsection form select{
    width: 300px;
}

.addroomsection form input{
    width: 300px;
}



.room{
    display: flex;
    position: relative;
    top: 60px;
    height: 85vh;
    overflow-y: scroll;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.roombox{
    height: 230px;
    width: 230px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0a0d2d;
    text-shadow: var(--bg-text-shadow);
    border-radius: 10px;
}

.roomboxsuperior{
    background-color:#2407fc8e;
}

.roomboxdelux{
    background-color:#fa8393c8;
}

.roomboguest{
    background-color:#19cf1069;
}

.roomboxsingle{
    background-color:#07fcdb8e;
}

/* Pour centrer le contenu de la navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #0a0d2d;
    padding: 10px;
  }
  
  /* Pour styliser la barre de recherche */
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .addRoomButton,a{
    text-decoration: none;
    color: white;
  }
  /* Pour styliser le bouton "Add" */
  .add-button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  /*style pour le forme pour creer une room resever */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin-top: 0.5cm;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input ,form select{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  form button {
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
